node_modules/
dist/
target/
sources/
*.AppImage
*.deb
*.rpm
*.msi
*.apk
*.map.js
tests/tmp/
src-tauri/gen/schemas
src-tauri/icons/ios/
src-tauri/resources/modules/
src-tauri/resources/catalog/
.DS_Store
*~
.idea/
.vscode/
